.create-post {
    padding: 1rem;
    background-color: $color-white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba($color-black, 0.07),
        0 4px 6px -2px rgba($color-black, 0.05);
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;

    @include respond(sm) {
        display: none;
    }

    &__avatar {
        width: 50px;
        height: 100%;
        margin-right: 1rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;

        & h1 {
            font-size: 17px;
            color: $color-black;
            font-weight: 500;
        }

        &__options {
            width: 100%;
            margin-top: 0.25rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__button {
                width: 9rem;
                padding: 0.25rem 0;
                border-radius: 10px;
                text-align: center;
                font-weight: 500;
                color: $color-white;
                background-color: $color-feed-component-blue;
                cursor: pointer;

                @include respond(lg) {
                    width: 7rem;
                }

                @include respond(md) {
                    width: 8rem;
                }

                &:hover {
                    background-color: darken($color-feed-component-blue, 10%);
                }
            }
        }
    }
}

.floating-button {
    display: none;
    position: fixed;
    bottom: 5rem;
    right: 25px;
    background-color: $color-primary-green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba($color-black, 0.25);

    & img {
        width: 40%;
        filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(274deg)
            brightness(111%) contrast(100%);
    }

    @include respond(sm) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
