*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', Helvetica, Arial, sans-serif;
}

::selection {
    color: $color-white;
    background: $color-primary-green;
}

body,
html {
    height: 100%;
    margin: 0;
}

#root,
.App,
.Main {
    height: 100%;
}