*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', Helvetica, Arial, sans-serif;
}

::selection {
    color: $color-white;
    background: $color-primary-green;
}
