.heading-primary {
    color: $color-black;
    font-size: 3rem;
    margin-bottom: 1.5rem;

    @include respond(xs) {
        font-size: 2.4rem;
    }
    
    &--white {
        color: $color-white;
    }
}
.heading-secondary {
    color: $color-black;
    font-size: 2rem;
    margin-bottom: 0.2rem;
    &--small{
        font-size: 1.7rem;
        @include respond(sm) {
            font-size: 1rem;
        }
    }
    @include respond(sm) {
        font-size: 1.7rem;
    }
    
}

.paragraph-primary {
    color: rgba($color-black, 0.6);
    font-size: 1.5rem;

    @include respond(xs) {
        font-size: 1.25rem;
    }
    &--white {
        color: rgba($color-white, 0.6);
    }
    &--green {
        color: $color-primary-green;
    }
    &--red {
        color: $color-red;
        font-size: 14px;
    }
}

.title
  {
    margin: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    &--bold{
      font-weight: 550;
      text-align: center;
    }
    &--space{
      letter-spacing: 1.5px;
    }
}
  .sub-title{
      margin: 0.1rem;
      font-size: 1rem;
      &--green{
        color: $color-primary-green;
        font-style: italic;
        text-align: center;
        font-size: 0.9rem;
      }
    }
.muted {
      &--italic{
        font-style: italic;
        color: gray;
        font-size: 0.8rem;
      }
      &--bold{
        font-style: bold;
        color: gray;
        font-size: 0.8rem;
      }
 }
 
.heading{
    font-style: normal;
    font-weight: 550;
    font-size: 1.2rem;
    color: $color-black;
    text-align: center;
}
