.heading-primary {
    color: $color-black;
    font-size: 3rem;
    margin-bottom: 1.5rem;

    @include respond(xs) {
        font-size: 2.4rem;
    }
    
    &--white {
        color: $color-white;
    }
}
.heading-secondary {
    color: $color-black;
    font-size: 2rem;
    margin-bottom: 0.2rem;
    &--small{
        font-size: 1.7rem;
        @include respond(xs) {
            font-size: 1rem;
        }
    }
    @include respond(xs) {
        font-size: 1.8rem;
    }
    
}

.paragraph-primary {
    color: rgba($color-black, 0.6);
    font-size: 1.5rem;

    @include respond(xs) {
        font-size: 1.25rem;
    }
    &--white {
        color: rgba($color-white, 0.6);
    }
    &--green {
        color: $color-primary-green;
    }
    &--red {
        color: $color-red;
        font-size: 14px;
    }
}
