@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'layout/landing-page/about-section';
@import 'layout/landing-page/mission-section';
@import 'layout/landing-page/features-section';
@import 'layout/landing-page/achievements-section';
@import 'layout/landing-page/testimonial-section';
@import 'layout/landing-page/contact-section';
@import 'layout/landing-page/footer-section';
@import 'layout/landing-page/navigation-bar';

@import 'layout/user-info/role-selection';
@import 'layout/user-info/area-of-interest';
@import 'layout/user-info/upload_pictures';
@import 'layout/user-info/user-details.scss';

@import 'layout/feed/left-right-nav.scss';

@import 'layout/teams/user-teams';
@import 'layout/teams/team-description.scss';
@import 'layout/teams/team-info.scss';
@import 'layout/teams/member-info.scss';
@import 'layout/teams/suggestion.scss';

@import 'components/input.scss';
@import 'components/button';
@import 'components/input';
@import 'components/navigation-bar.scss';
@import 'components/feed/create-post';
@import 'components/feed/post';

@import 'pages/landing-page.scss';
@import 'pages/signup';
@import 'pages/signin';
@import 'pages/userInfo.scss';
@import 'pages/feed';
@import 'pages/application';
@import 'pages/teams';
