.all-team-member-cards{
    display: flex;
    flex-wrap: wrap;
}
.modal-complete-title{
    display: flex;
    flex-direction: column;
    &-description{
        color:#02BD63;
    }
}
.team-member-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    border: 0.5px solid rgb(195, 195, 195);
    img{
        border-radius: 50%;
        // margin: 0 auto;
        // border-radius: 50%;
        // overflow: hidden;
        // img{
            width: 60px;
            height: 60px;
            object-fit: cover;
        // }
    }
    span{
        padding: 0;
    }
    &-name{
        font-weight: 600;
    }
    &-role{
        font-size: small;
        color: #02BD63;
    }
    &-designation{
        font-weight: 200;
    }
    @include respond(lg){
        width: 30%;
    }
}