@mixin respond($breakpoint) {
    @if $breakpoint == xxs {
        @media screen and (max-width: 26rem) {
            @content;
        }//416px
    }
    @if $breakpoint == xs {
        @media only screen and (max-width: 36em) {
            @content;
        } //576px
    }
    @if $breakpoint == sm {
        @media only screen and (max-width: 48em) {
            @content;
        } //768px
    }
    @if $breakpoint == md {
        @media only screen and (max-width: 62em) {
            @content;
        } //992px
    }
    @if $breakpoint == lg {
        @media only screen and (max-width: 75em) {
            @content;
        } //1200px
    }
}
