$color-primary-green: #02bd63;
$color-primary-grey: #f9f5f5;
$color-primary-blue: #001948;
$color-secondary-blue: #5579bd;

$color-feed-background: #f2f7ff;
$color-feed-component-blue: #4b72bc;
$color-feed-tags: #d5e4fe;

$color-light-bg: #f2f7ff;

$color-white: #ffffff;
$color-black: #000000;
$color-red: red;
