.documents-info {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    position: relative;
    &__document {
        margin-right: 2rem;
        @include respond(sm) {
            margin-right: 1rem;
        }
    }
    & img {
        width: 5rem;
        object-fit: cover;
        @include respond(sm) {
            width: 3rem;
        }
    }
    &__text {
        color: $color-primary-green;
    }
    &__addFile {
        border: none;
        background-color: transparent;
        color: $color-primary-green;
        position: absolute;
        top: -3rem;
        right: 30px;
        @include respond(sm) {
            font-size: 0.9rem;
            top: 0;
            right: 1rem;
        }
        &__icon {
            @include respond(sm) {
                font-size: 1rem !important;
            }
        }
    }
}
