.documents-info {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    &__document{
        margin-right:2rem ;
        @include respond(sm){
            margin-right:1rem ;
        }
    }
    & img {
        width: 5rem;
        object-fit: cover;
        @include respond(sm){
            width: 3rem;
        }
    }
    &__text {
        color:$color-primary-green
    }
}