.members-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
    &__details{
        display: flex;
        flex-direction: row;
        align-items: center;
        &__title{
            font-size: 1.2rem;
            @include respond(sm){
               font-size: 1rem;
            } 
        }
        & img {
            width: 3rem;
            height: 3rem;
            object-fit: cover;
            border-radius: 50%;
            margin-right:0.5rem ;
        }
        &--contact{
            display: flex;
            flex-direction: row;
            align-items: center;
          
            & img {
                width: 1rem;
                height: 1rem;
                margin: 0 0.5rem;
            }
            @include respond(md){
                display: none;
              } 
        }
        &--role{
            display: flex;
            flex-direction: row;
            align-items: center;
           
            & img {
                width: 1rem;
                height: 1rem;
                
            }
            & h5 {
                margin-right: 1rem;
                @include respond(sm){
                    display: none;
                  } 
            }
        }
    }
   
}