.members-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
  
    &__details{
        display: flex;
        flex-direction: row;
        align-items: center;
        &__dropdown{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
          
      
        }
        &__title{
            font-size: 1.2rem;
            @include respond(sm){
               font-size: 1rem;
            } 
        }
        & img {
            width: 3rem;
            height: 3rem;
            object-fit: cover;
            border-radius: 50%;
            margin-right:0.5rem ;
        }
        &--contact{
            display: flex;
            flex-direction: row;
            align-items: center;
          
            & img {
                width: 1rem;
                height: 1rem;
                margin: 0 0.5rem;
            }
            @include respond(md){
                display: none;
              } 
        }
        &--role{
            display: flex;
            flex-direction: row;
            align-items: center;
         
           button{
            background-color: $color-white;
            border: none;
            font-size: 40px;
            text-align: center;
           }
            & h5 {
                margin-right: 1rem;
                @include respond(sm){
                    display: none;
                  } 
            }
        }
    }

}
.member-info-tab {
    position:relative;
    &__addFile {
        display: none;
        @include respond(sm){
            display: block;
            border: none;
            background-color: transparent;
            color: $color-primary-green;
            position: absolute;
            top: -3rem;
            right: 30px;
            @include respond(sm){
                font-size: 0.9rem;
                top:0;
                right: 1rem;
            }
            &__icon {
                @include respond(sm){
                font-size: 1rem !important;
                }
            }
        }
  
    }
}