.requests-info{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0 1rem ;
   padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
   justify-content: space-between;
   &__details {
       display: flex;
       flex-direction: row;
       & img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right:0.5rem;
    }
       &__text{
           display: flex;
           flex-direction: column;
            & h5{
               margin: 0;
           }
       }
       &__buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button{
            width: 6rem;
            height: 2rem;
            border-radius: 2.5rem;
            margin: 20px;
            @include respond(sm){
                width: 4rem;
                margin: 0;
                margin-left: 0.5rem;
            }  
        }
        @include respond(xxs){
            align-self: center;
            align-items: center;
            text-align: center;
            justify-content: space-evenly;
            button{
                height: 1.5rem;
            }
        }
        &--accept{
            background-color: $color-primary-green;
            color:white;
            border:1px solid $color-primary-green;
           
        }
        &--white {
            border:1px solid black;
            background-color: $color-white;
        }
    }
   
    @include respond(sm){
        margin: 0;
    }
   }
}