.teams-description{
        display: flex;
        max-width: 100%;
        justify-content: flex-start;
        flex-direction: row;
        overflow: hidden;
        background-color: $color-white;
        border-radius: 1rem;
        
        @include respond(md){
            padding: 0  ;
          
        }
    &__info{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
   
        @include respond(sm){
            padding:0.5rem;
        } 
       
        & img {
            width:6.5rem;
            height:6.5rem;
            align-self: center;
            margin-top: 2rem;
            object-fit: cover;
            border-radius:50%;
            background-color: gray;
            @include respond(xs){
                width: 4rem;
                height: 4rem;
                align-self: center;
                margin-left: 0;
            }
        }
        &__left {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 1rem;
             width:15%;
             @include respond (md){
                width:30%;
                margin-left: 0;
             }
           
            &__text{
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                
                &__title{
                    font-weight: 500;
                    text-align: center;
                    &__status {
                        margin-top: 0rem;
                        text-align: center;
                        color: $color-primary-green;
                        font-weight: 600;
                    }
                }
            }
        }
        
        &__right{
            width:85%;
            display: flex;
            justify-content: left;
            flex-direction: column;
            padding: 1rem;
            
          @include respond (md){
                  width:70%;
                 padding: 0.5rem;
            }
          
            & p{
                margin-top: 0.5rem;
                @include respond(sm){
                    margin-top: 0;
                    margin-bottom: 0.2rem;
                    
                    font-size: 14px;
                } 
            }

            &__tags {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                padding: 0;
                &__tag{
                    min-width: 96px;
                    text-align: center;
                    background-color: $color-light-bg;
                    color: $color-black;
                    padding: 0.5rem;
                    border-radius: 15px;
                    margin: 1rem 1rem 0 0;
                    @include respond(sm){
                       min-width: fit-content;
                    } 
                    &__arrow{
                    text-align: center;
                    background-color: $color-light-bg;
                    color: $color-black;
                    padding:  0.2rem;
                    border-radius: 15px;
                    margin: 1rem 1rem 0 0;
                    align-self: center;
                    }
                }
            }
        }   
     
    }
}
