$color-primary-green: #02bd63;
$color-primary-grey: #f9f5f5;
$color-primary-blue: #001948;
$color-secondary-blue:#5579BD;
$color-primary-light-blue: #4B72BC;


$color-white: #ffffff;
$color-black: #000000;
$color-red: red;

.skills-and-interests{
  display: flex;
  flex-direction: column;
  padding: 20px;
  &-heading{
    font-size: larger;
    font-weight: 600;
    text-align: left;
  }
  &-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-switch{
    &-right{
      padding: 0px 0px 0px 20px;
    }
    &-left{
      padding: 0px 20px 0px 0px;
    }
  }
  &-bottom-switch{
    display: flex;
    justify-content: center;
    button{
      border: 1px solid $color-primary-green;
      margin: 2px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}
.skill-tag-container{
  width: 100%;
}
.skill-tag{
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  &-heading{
    font-weight: 600;
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }
  &-skillno{
    font-size: 12px;
    color: grey;
    line-height: 0.8;
    margin: 0px;
  }
  &-skills{
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;

  }
}

.interests-tags{
  display: flex;
  flex-wrap: wrap;
  span{
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid $color-primary-green;
    border-radius: 15px;
  }
}