.feed {

    &__content {
        display: flex;
        max-width: 1800px;
        margin: auto;
        width: 100%;
        padding: 4rem 1rem 0;
        
        &__left {
            width: 25%;

            @include respond(md) {
                width: 30%;
            }
            @include respond(sm) {
                display: none;
            }
        }

        &__center {
            width: 50%;
            padding: 1rem;
            @include respond(md) {
                width: 70%;
            }

            @include respond(sm) {
                width: 100%;
                padding: 0;
            }
        }

        &__right {
            width: 25%;

            @include respond(md) {
                display: none;
            }
        }
    }
}
