.messages {
    height: 100%;
     &__content {
         display: flex;
         max-width: 1800px;
         margin: auto;
         background-color: $color-light-bg;
         height:100%;
         width: 100%;
         padding: 4rem 1rem 0;
         @include respond(xs){
             flex-direction: column;
         }
        
         &__header{
             display: none;
             @include respond(xs){
                 display: flex;
                 flex-direction:row;
                 justify-content: space-between;
                 text-align: center;
             }
         }
          &__left {
             max-width:402px;
             width: 30%;
             padding: 2rem 1rem 1rem 0rem;
             @include respond(sm) { 
                display: none;
             }
          }
         &__team-messages{
             width: 100%;
             overflow-y: scroll;
             height: 300px;
             @include respond(sm) {
                 display: none;
             }
         }
         &__personal-mesaages{
             overflow-y: scroll;
             height: 300px;
         }
         &__right {
             width: 70%;
             @include respond(xs) {
                width: 100%;
             }
         }
         &__info{
             display: flex;
             height: 100%;
             width: 100%;
             padding: 2rem 0;
             flex-direction: column;
             justify-content: flex-start;
             align-items: center;
             @include respond(xs) {
                 padding: 1rem 0;
              }
           
         }
       
       
     }
 }
 