@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

.signin {
    height: 100%;
    background-image:
        linear-gradient(
            0deg,
            rgba(#001948, 0.84), 
            rgba(#001948, 0.84)
        ), 
        url("./assets/sign-up/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 0;

    &__flex-container {
        z-index: 1;
        padding: 3.125rem 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    &__flex-child {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 3.75rem;
    }

    &__card {
        width: 26.25rem;
        height: 34.375rem;
        border-radius: 8px;
        padding: 0rem 1.25rem;
        background-color: white;

        hr {
            position: relative;
            top: 2.8rem;
        }

        &--or {
            position: relative;
            top: 1rem;
            font-size: 14px;
            left: 10.813rem;
            background-color: white;
            padding: 5px;
        }

        &--button {
            color: white;
            position: relative;
            bottom: -3rem;
        }

        &--header {
            position: relative;
            top: 20px;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px;
            text-align: left;
            padding: 0px 30px;
            color: #001948;
        }

        &--desc {
            padding: 20px 30px;
            font-style: normal;
            font-family: "Nunito", sans-serif;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            padding-bottom: 20px;
        }

        &__forgot-pw {
            position: relative;
            line-height: 1.25rem;
            font-size: 15px;
            width: 100%;
            right: -13.75rem;
            margin-bottom: 10px;
            bottom: 2.5rem;
        }

        a {
            color: #02bd63;
            text-decoration: none;
            padding: 10px;
        }

        div label {
            padding-left: 20px;
            font-size: 12px;
            font-weight: 300;
            line-height: 15px;
            text-align: left;
        }

        &--input-name {
            display: inline-block;
            margin-right: 0.938rem;

            input.input-component {
                max-width: 9.688rem !important;
            }
        }

    }

    &__social {
        position: relative;
        top: 1rem;

        display: flex;
        justify-content: center;

        &--links {
            padding: 10px;
            transition: all 0.2s;
            height: 50px;
        }
    }   
}

@media screen and (max-width: 1000px) {
    .signin {
        padding: 0;       
        
        &__flex-container {
            flex-direction: column;
        }

        &__card {
            width: 100%;

            &--button {
                width: 100%;
            }

            &--or {
                margin-left: -2rem;
            }

            &__forgot-pw {
                right: -10rem;
            }
        }
    
        &__logo {
            margin-bottom: 2rem;
        }
    }
}