@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

// signup card height = (100vh - 4rem)
// signup card width = (100vh - 45vh)
// signup card padding, left & right =
// signup container padding, top & bottom = 2rem

.signup {
    display: grid;
    height: 100%;
    background-image: linear-gradient(
            0deg,
            rgba($color-primary-blue, 0.84),
            rgba($color-primary-blue, 0.84)
        ),
        url('./images/sign-up/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__flex-container {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__flex-child {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 3.75rem;
    }

    &__card {
        width: calc(100vh - 45vh);
        // height: calc(100vh - 4rem);
        height: initial;
        border-radius: 8px;
        padding: 2vh 2%;
        background-color: $color-white;
        overflow: hidden;

        &--header {
            position: relative;
            font-size: calc(100vh - 95.5vh);
            top: 3%;
            font-style: normal;
            font-weight: 600;
            text-align: left;
            padding: 0 30px;
            color: $color-primary-blue;
        }

        &--desc {
            position: relative;
            font-size: calc(100vh - 97.2vh);
            top: 2%;
            padding: 0 30px;
            font-style: normal;
            font-family: 'Nunito', sans-serif;
            font-weight: normal;

            a {
                color: $color-primary-green;
                text-decoration: none;
                padding: 0 10px;
            }

            @media only screen and (max-height: 640px) {
                font-size: 90%;
            }
        }
        &--form {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5% calc(100vh - 180%);
            padding-bottom: 0;
        }

        div label {
            padding: 1vh 5%;
            font-size: 12px;
            font-weight: 300;
        }

        &--button {
            margin-top: 5%;
            color: $color-white;
            position: relative;
        }

        form hr {
            position: relative;
            top: 0.5rem;
        }

        &--or {
            margin: auto;
            width: fit-content;
            position: relative;
            bottom: 1.5rem;
            text-align: center;
            font-size: 13px;
            background-color: $color-white;
            padding: 5px;
        }
    }

    &__social {
        position: relative;
        top: -1.5rem;
        display: flex;
        justify-content: center;

        &--links {
            padding: 0 10px;
            transition: all 0.2s;
            height: calc(100vh - 95vh);
        }
    }

    @include respond(md) {
        &__card {
            width: calc(100vh - 45vh);
            height: initial;
            margin-bottom: 0;

            &--header {
                top: 0.5rem;
                font-size: 190%;
            }

            &--desc {
                top: 0.2rem;
                font-size: 110%;
            }

            &--form {
                padding: 0 8%;
            }
        }
    }

    @include respond(sm) {
        &__flex-container {
            justify-content: center;
            flex-direction: column;
        }

        &__logo {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        &__card {
            height: initial;
            width: 100%;
            margin: 0 5%;
            padding-bottom: 0;
        }
    }

    @include respond(xs) {
        &__logo {
            height: 50px;
            margin: 5%;
        }

        &__card {
            margin-top: 5%;

            &--header {
                font-size: 150%;
            }

            &--desc {
                font-size: 95%;
            }

            &--form {
                padding: 0 5%;
                padding-top: 3%;

                input {
                    padding: 1% 1rem;
                }
            }

            &--button {
                padding: 1.5% !important;
            }
        }

        &__social {
            &--links {
                height: calc(100vh - 96vh);
            }
        }
    }
}
