.teams {
   height: 100%;
    &__content {
        display: flex;
        max-width: 1800px;
        margin: auto;
        background-color: $color-light-bg;
        height:100%;
        width: 100%;
        padding: 4rem 1rem 0;
        @include respond(xs){
            flex-direction: column;
        }
       
        &__header{
            display: none;
            @include respond(xs){
                display: flex;
                flex-direction:row;
                justify-content: space-between;
                text-align: center;
            }
        }
        &__user-teams{
            width: 25%;
            padding: 2rem 1rem;
            @include respond(md) {
                width: 30%;
                margin: 0;
            }
            @include respond(sm) {
                display: none;
            }
        }
        &__info{
            display: flex;
            height: 100%;
            padding: 2rem 0;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            @include respond(sm) {
                width: 100%;
            }
        }
        &__team-description {
            width: 100%;
        }
        &__team-info {
            width: 100%;
        }
    }
}
