.user-info{
    height:100vh;
    background-color: $color-primary-blue;
    display:flex;
    justify-content: center;
    align-items: center;

    &__card{
        max-width: 1100px;
        background-color: $color-white;
        border-radius: 2%;
        width: 900px;
        height: 500px;
        padding:1rem;
        @include respond(sm) { 
            width:90%;
            height:  auto;
            padding: 1em 0;
            justify-content: center;
        }
    }
    .input{
    margin-bottom: 1rem;
    background-color: white;
    }
    select {
    border: 1px solid #bdbdbd;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    width: 100%;
    color: #4f4f4f;
    padding: 0.5rem 1rem; 
    }
}
.input-formComponent{
    border: 1px solid #bdbdbd;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    width: 100%;
    color: #4f4f4f;
    padding: 0.5rem 1rem;
    min-height: none;
    height: auto;
}