.user-info{
    height:100vh;
    background-color: $color-primary-blue;
    display:flex;
    justify-content: center;
    align-items: center;

    &__card{
        max-width: 70%;
        width: 60%;
        background-color: $color-white;
        border-radius: 2%;
        min-height: 40%;
        max-height: 100%;
        @include respond(lg) {
            max-width: 85%;
            max-height: 95%;
            width: 85%;
           justify-self: center;
        }
        @include respond(xs) { 
            max-width: 100%;
            width:100%;
            min-height: 100%;
            height:  100vh;
            border-radius: 0;
            display: flex;
            align-items:center;
            justify-content: center;
        }
    }
    form{
        min-height: 250px;
        @include respond(sm) {
            min-height: auto;
        }
    }
}
.input-formComponent{
    border: 1px solid #bdbdbd;
    background-color: $color-white;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    width: 100%;
    color: #4f4f4f;
    padding: 0.5rem 1rem;
    min-height: none;
    height: auto;
}
.buttons{
    margin:1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &__center{
      justify-content: center;
      margin: 0px;
    }
}