.notification {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 4% 3% 2% 3%;
    &-first {
        padding-left: 10px;
        margin-top: 15px;
        width: 60%;
        &-allnotif,
        &-dirmess,
        &-login,
        &-newVersion,
        &-offAllTeamNotif {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        @include respond(md) {
            width: 95%;
        }
    }
    &-mid {
        &-text {
            padding-left: 10px;
            margin-bottom: 10px;
        }
        &-teams {
            border-radius: 10px;
            border: 1px solid gray;
            padding: 2% 5% 2% 5%;
            display: flex;
            height: 296px;
            width: 95%;
            flex-direction: column;
            overflow: auto;

            &-team {
                height: 80px;

                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-left {
                    width: 60%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    img {
                        width: 44px;
                        height: 44px;
                        border-radius: 100%;
                    }
                    &-name {
                        margin-left: 10px;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
    &-end {
        padding-left: 10px;
        margin-top: 15px;
        width: 60%;
        &-mentionNotif,
        &-likesNotif,
        &-commentsNotif {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        @include respond(md) {
            width: 95%;
        }
    }
}
