.section-about {
    padding: 4rem 3rem;

    @include respond(sm) {
        padding: 3rem 1rem;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 100%;
        }
    }

    &__text {
        display: flex;
        height: calc(100vh - 4rem);
        justify-content: center;
        align-items: center;

        @include respond(md) {
            height: 100%;
        }

        @include respond(sm) {
            text-align: center;
        }
    }
}
