.area-of-interest{
    padding: 2rem 10rem;
    @include respond(xs) {
        margin: 1rem;
        padding: 1rem 0.2rem;
    }
    &__text{
        
        text-align: center;
    }
    &__form{
       &__list{
           margin: 0;
           padding: 0;
           height: auto;
           display: flex;
           flex-wrap: wrap;
           &__item{
            & img{
                width: 20px;
                @include respond(xs){
                    width:10px;
                   }
            }
           
        }
        }
    }
      
   
    ul ,li{
        list-style: none;
    }
    li{
        margin: 0;
    }

    input[type=checkbox]+.checkbox-label {
        margin: 0.25rem;
        border: 2px solid $color-primary-green;
        line-height: 16px;
        text-align: center;
        border-radius: 38.8172px;
        padding: 0.5rem;
        font-size: 14px;
        text-transform: uppercase;
        color: $color-primary-blue;
        @include respond(xs){
            padding: 0.1rem 0.5rem;
            font-size: 13.97px;
        }
      }
      
      input[type=checkbox]:checked+.checkbox-label {
        background-color: $color-primary-green;
        color: black;
        font-style: bold;
      }
      
      input[type=checkbox]:checked+.checkbox-label:before {
        content: "";
        border: 1px solid #a3adb3;
      }
}