.area-of-interest {
    padding: 2rem 6rem;

    @include respond(xs) {
        padding: 0.5rem;
        margin: 0;
    }
    &__text {
        text-align: center;
        font-size: 1rem;
        @include respond(xs) {
            margin-bottom: 2rem;
            text-align: center;
      }
    }
    &__form{
      & form ul {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        @include respond(md) {
          margin-top: 1rem;
    }
      }
       &__list{
           margin: 0;
           padding: 0;
           height: auto;
           display: flex;
           flex-wrap: wrap;
           list-style: none;
           &__item{
             & img{
                width: 1.5rem;
                height:1.5rem;
                margin-right: 0.4rem;
                @include respond(xs){
                    width:1rem;
                    height: auto;
                }
            }
        }
    }

    input[type='checkbox'] + .checkbox-label {
        margin: 0.25rem;
        border: 2px solid $color-primary-green;
        line-height: 16px;
        text-align: center;
        border-radius: 38.8172px;
        padding: 0.4rem;
        font-size: 13px;
        text-transform: uppercase;
        color: $color-primary-blue;
    }

    input[type='checkbox']:checked + .checkbox-label {
        background-color: $color-primary-green;
        box-shadow: 0 0 2px $color-black;
        color: black;
        font-style: bold;
      }
      
}
}