.student-info{
        padding: 2rem 10rem;
        @include respond(xs) {
            padding: 1rem;
        }
        &__text{
            .heading-primary{
                font-size:34px;
                text-align: left;
                @include respond(xs) {
                    font-size:20px;
                }
            }
        }
        .input-formComponent{
            border: 1px solid #bdbdbd;
            margin-bottom: 1rem;
            border-radius: 0.25rem;
            width: 100%;
            color: #4f4f4f;
            padding: 0.5rem 1rem;
            min-height: none;
            height: auto;
        }
     }