.upload{
    padding: 2rem 4rem ;
    @include respond(sm){
        padding: 1rem;
    }
    &__text{
        display: block;
        justify-content: center;        
        text-align: center;
        & h6 {
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            text-align:center;
        }
    }
        .buttons{
            padding: 0 4rem;
            @include respond(sm){
                padding: 0;
            }
        }
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__bio{
            padding: 0 4rem;
            padding-top: 12px;
            @include respond(sm) {
                padding: 1rem;
            }
        }
        & img{
            width: 5.25rem;
          
            @include respond(sm) {
               margin: 0 6rem ;
            }
           
        }
    }
    .skip{
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
    }
}