.buttons{
    margin:1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &__center{
      justify-content: center;
      margin: 0px;
    }

    @include respond(sm){
    margin-top: 40px;
    }
}
.button--green {
    &:hover {
        box-shadow: 0 2px 4px #012b16;
        cursor: pointer;
    }
    &:active {
        transform: scale(0.99);
        box-shadow: 0 0.5px 1px #012b16;
    }
    &--round {
        border-radius: 10px !important;
        background-color: black;
        padding: 5px !important;
        background: #02bd63;
        position: absolute;
        width: 38rem;
        height: 4.8rem;
        border: 0px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
    }
}
.button {
      display: block;
      font-size: 1.5rem;
      padding: 0.2rem 0.8rem;
      width: 299px;
      height: 48px;
      text-transform: capitalize;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      box-shadow: none;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;      
      margin-left: 10px;
      @include respond(xs) {
        width: 100px;
        font-size: 1rem;
        
       }
      
      &__green {
        background-color: $color-primary-green;
        color:$color-white;
        border: none;
      }
      &__white {
        background-color: $color-white;
        color:$color-black;
        border: 1px solid black;
       
      }
}