
.button--green {
    &:hover {
        box-shadow: 0 2px 4px #012b16;
        cursor: pointer;
    }
    &:active {
        transform: scale(0.99);
        box-shadow: 0 0.5px 1px #012b16;
    }
    &--round {
        border-radius: 10px !important;
        background-color: black;
        padding: 2.5% !important;
        width: 100%;
        background: $color-primary-green;
        position: absolute;
		border: 0px;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
    }
}
.share-button {
    margin:0.5rem;
}
.form-button {
    display: block;
    font-size: 1.5rem;
    padding: 0.2rem 0.8rem;
    width: 299px;
    height: 48px;
    text-transform: capitalize;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    &--center {
        align-self: center;
    }      
    margin-left: 10px;
    &:hover {
        box-shadow: 0 2px 4px #012b16;
        cursor: pointer;
    }
    @include respond(xs) {
      width: 100px;
      font-size: 1rem;
      
     }
    
    &--green {
      background-color: $color-primary-green;
      color:$color-white;
      border: none;
      @include respond (xs){
          margin: 0;
      }
    }
    &--white {
      background-color: $color-white;
      color:$color-black;
      border: 1px solid black;
     &:hover{
        box-shadow: 0 2px 4px #999999;
        cursor: pointer;
        background-color: none !important;
     }
    }
}
.button {
    display: block;
    font-size: 1.5rem;
    padding: 0.2rem 0.8rem;
    width: 299px;
    height: 48px;
    text-transform: capitalize;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;      
    margin-left: 10px;
    &:hover {
        box-shadow: 0 2px 4px #012b16;
        cursor: pointer;
    }
    @include respond(xs) {
      width: 100px;
      font-size: 1rem;
      
     }
    
    &--green {
      background-color: $color-primary-green;
      color:$color-white;
      border: none;
      @include respond (xs){
          margin: 0;
      }
    }
    &--blue {
        background-color: $color-secondary-blue;
        color:$color-white;
        padding: 0.5rem;
        border: none;
        @include respond (xs){
            padding: 0.1rem;
          
        }
        @include respond (xs){
            margin: 0;
        }
      }
    &--white {
      background-color: $color-white;
      color:$color-black;
      border: 1px solid black;
     &:hover{
        box-shadow: 0 2px 4px #999999;
        cursor: pointer;
        background-color: none !important;
     }
    }
}
.connect-button{
    width: 5.5rem;
    border: none;
    border-radius: 1rem;
   &-container{
       display: flex;
       align-items: center;
       justify-content: space-around;
       width: 50%;
       p{
           margin: 0px;
       }
       @include respond(lg){
           flex-direction: column;
           justify-content: space-between;
        }
    }
    background-color:$color-secondary-blue;
    margin-top: 0.3rem;
    color:white;
    max-height: 26px;
    margin-left:1rem;
    @include respond(xs){
        width: 5rem;
        font-size: small;
    }  
    &--green{
        width: 5.5rem;
        border: none;
        border-radius: 1rem;
       
       
       margin-top: 0.3rem;
        color:white;
        max-height: 26px;
        margin-left:1rem;
        background-color: $color-primary-green;
    }
}
.view-more-button{
    width: 7rem;
    border: none;
    border-radius: 1rem;
    
    
   &-container{
       display: flex;
       align-items: center;
       justify-content: space-around;
       width: 60%;
       p{
           margin: 0px;
       }
       @include respond(sm){
           flex-direction: column;
           justify-content: space-around;
       }
   }
    background-color:$color-secondary-blue;
   margin-top: 0.3rem;
    color:white;
    max-height: 26px;
    margin-left:1rem;
    @include respond(xs){
        font-size: small;
    }  
    &--green{
        width: 5.5rem;
        border: none;
        border-radius: 1rem;
       
       
       margin-top: 0.3rem;
        color:white;
        max-height: 26px;
        margin-left:1rem;
        background-color: $color-primary-green;
    }
    img{
        width: 20px;
        color: white;
    }
}

.gotop-button{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-secondary-blue;
    color: white;
    font-size: 15px;
    border: none;
    z-index: 100;
    // transform: translate(40vw,60vh);
    transform: translate(30rem,28rem);
    box-shadow: -1px 0px 19px -2px rgba(0,0,0,0.75);
    img{
        width: 25px;
    }
    @include respond(md){
        transform: translate(79.5vw,60vh);
    }
    // @include respond(sm){
    //     display: none;
    // }
}
.edit-complete-profile{
    background-color: $color-secondary-blue;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 10px;
}
.view-team-members{
    font-weight: 600;
    cursor: pointer;
    color: $color-secondary-blue;
    font-size: medium;
    @include respond(lg){
        font-size: small;
    }
}
.remove-member-create-team{
    background-color: white;
    border: none;
    color: $color-primary-green;
    margin: 0px 10px;
}

.view-more-post{
// margin-left: 0rem;
background-color: transparent;
color: $color-primary-blue;
border: none;
}