.input-component {
    display: block;
	padding: 0.35rem;
	padding-left: 5%;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.24);
	border-radius: 8px;
    &:focus {
        outline: none;
		border: 1px solid rgba(0, 0, 0, 0.24);
		background-color: rgb(240, 240, 240);
	}
	&::placeholder {
		font-size: 13px;
	}
	&--search{
		background: $color-light-bg;
		border: 1px solid #9E9E9E;
		box-sizing: border-box;
		border-radius: 26px;
		min-width: 24rem;
		align-self: flex-start;
		height: 2rem;
		padding: 1rem 2rem;
		@include respond(lg) {
			min-width: 18rem;
			width: 5%;
			margin-left: 0.2rem;
			height: 1.5em;
		  }
		
	
		@include respond(sm) {
		  min-width: 15rem;
		  margin-left: 0;
		  height: 1.7em;
		}
		@include respond(xs) {
		  width: 4rem;
		  margin-left: 0.2rem;
		  height: 1.75em;
		}
	  }
	  &--invite-search{
		background: $color-light-bg;
		border: 1px solid #9E9E9E;
		box-sizing: border-box;
		border-radius: 26px;
		min-width: 18rem;
		padding: 1rem ;
		align-self: flex-start;
		height: 2rem;
		@include respond(lg) {
		     max-width: 7rem;
			width: 100%;
			margin-left: 0.2rem;
			
		  }
		@include respond(md) {
		
			width: 100%;
			margin-left: 0.2rem;
			
		  }
		@include respond(sm) {
				margin-top: 1rem;
		
		}

	}
}
