.input-component {
    display: block;
	padding: 1rem;
	margin: 1.2rem 1rem;
	min-height: 3rem;
	// width: 38rem;
	width: 92%;
	border: 1px solid rgba(0, 0, 0, 0.24);
	border-radius: 8px;
    &:focus {
        outline: none;
		border: 1px solid rgba(0, 0, 0, 0.24);
		background-color: rgb(240, 240, 240);
	}
	&::placeholder {
		font-size: 13px;
	}
}
