.nav-wrapper {
    display: flex; 
    justify-content: center;
    width: 100%;
    background-color: $color-white;
}

.nav-component {
    position: fixed;
    max-width: 2000px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    transition-duration: 0.6s;
    z-index: 99;
    transform: translate3d(0, 0, 0);
    transition: all 250ms;
    margin: auto;
    background-color: $color-white;

    &--scrolled {
        transform: translate3d(0, -100%, 0);
    }

    &__brand {
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @include respond(lg) {
            width: 25%;
        }

        @include respond(md) {
            width: 20%;
        }
        @include respond(sm) {
            width: 20%;
        }

        &__brandname {
            font-weight: 600;
            margin: 1rem 0 1rem 1rem;

            @include respond(lg) {
                display: none;
            }
        }
    }

    &__items {
        width: 70%;
        margin: 0 2rem 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        @include respond(lg) {
            width: 98%;
        }

        @include respond(md) {
            width: 90%;
            margin: 0;
            justify-content: center;
        }
        @include respond(sm) {
            width: 90%;
        }

        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            &-icon-container{
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
            &__icons {
                width: 1.75rem;
               
               margin-left: 3rem;
               @include respond(md) {
                width: 1.25rem;
                margin-left: 1.5rem;
               }
                @include respond(xs) {
                    width: 1.5rem;
                    margin: auto 1rem;
                }
        
                &--hidden {
                    width: 1.75rem;
                    margin-left: 3rem;
                    @include respond(md) {
                        width: 1.25rem;
                        margin-left: 1.5rem;
                    }
                    @include respond(xs) {
                        display: none;
                    }
                }
        
                &--user {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-left: 2rem;
                    @include respond(lg) {
                        width: 1.25rem;
                    }
                    @include respond(md) {
                        width: 1.5rem;
                        height:2rem;
                        
                    }
                    @include respond(xs) {
                        display: none;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        
        }
    }


    &__search {
        position: relative;
        & img {
        
            position: absolute;
            left: 0.5rem;
            top: 0.4rem;
            @include respond(md) {
                width: 1rem;
                left: 0.9rem;
                top: 0.6rem;
            }
            @include respond(sm) {
                width: 1rem;
                left: 0.7rem;
               
            }
            @include respond(xs) {
                width: 1rem;
                left: 0.8rem;
            }
        }
    }
}

.bottom-nav-component {
    display: none;
    background-color: $color-white;
    transform: translate3d(0, 0, 0);
    transition: all 250ms;
    z-index: 50;
    &--scrolled {
        transform: translate3d(0, 100%, 0);
    }

    &__items {
        width: 100%;
        margin: 0 auto;
        display: flex;
        padding: 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;

        &__icons {
            width: 1.5rem;

            &--user {
                width: 2rem;
            }
        }
    }

    @include respond(xs) {
        display: block;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
}
