.left-right-nav {
    padding: 1rem 0rem;

    & img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;
        background-color: gray;
    }

    &__card {
        background-color: $color-white;
        border-radius: 1rem;
        overflow: hidden;
        &__header {
            padding: 1rem 0.1rem;
        }
        & p {
            margin: 0;

            padding: 0;
            @include respond(lg) {
                display: none;
            }
        }

        &__body {
            margin: 0 !important;
            padding: 0 !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__list {
            width: 100%;
            margin: 0 !important;
            padding: 0 !important;
            &__item {
                width: 100%;
                margin: 0 !important;
                padding: 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                align-self: flex-end;
                @include respond(lg) {
                    padding: 0.7rem;
                }
                &--right{
                    width: 100%;
                    margin: 0 !important;
                    padding: 1rem 0.5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    align-self: flex-end;
                    @include respond(lg) {
                        padding: 0.5rem;
                        flex-direction: column;
                        justify-content: left;
                    }
                }

                &--create {
                    width: 100%;
                    margin: 0 !important;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    align-self: flex-end;
                    position: relative;

                    align-self: center;

                    @include respond(lg) {
                        padding: 0.5rem;
                    }
                }
                &__info {
                    display: flex;
                    width: 100%;
                    margin-left: 1rem;
                    margin-right: 0.5rem;
                    align-self: center;
                    flex-direction: column;
                    justify-content: left;
                    align-items: left;
                    text-align: left;
                    margin-top: 0.1rem;

                    @include respond(sm) {
                        & p {
                            display: none;
                        }
                    }
                    & a {
                        color: black;
                        @include respond(lg) {
                            font-size: 1rem;
                        }
                    }

                    @include respond(lg) {
                        align-self: center;
                        justify-content: left;
                    }
                }
                &__rightTop {
                    width: 100%;
                    margin: 0 !important;
                    padding: 1rem 0.5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    &--row {
                        padding: 0.4rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: left;
                        @include respond(lg) {
                            width: 100%;
                            padding: 0;
                        }
                    }

                    @include respond(lg) {
                        padding: 0.7rem;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                &__button {
                    width: 6rem;
                    border: none;
                    border-radius: 1rem;

                    @include respond(xs) {
                        width: 120%;
                        font-size: small;
                    }
                    margin-right: 0.5rem;
                    background-color: $color-secondary-blue;
                    align-self: center;
                    font-size: small;
                    border: 1px solid $color-secondary-blue;
                    box-shadow: 0 0 0.2rem $color-secondary-blue;
                    border-radius: 2rem;
                    min-width: 5rem;
                    padding: 0.3rem;
                    color: white;
                    min-height: max-content;
                    @include respond(lg) {
                        margin-top: 0.5rem;
                        align-self: flex-start;
                        padding: 0.1rem 1rem;
                    }
                    &__box {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        &__footer {
            background-color: $color-primary-green;
            text-align: center;
            & a {
                color: white;
            }
        }
    }
}
