 .left-right-nav{
    padding: 1rem;
    & img{
        width:3.5rem;
        height: 3.5rem;
        object-fit: cover;
        border-radius:50%;
        background-color: gray;
    }

   &__card{
     background-color:$color-white;
     border-radius:1rem;
    &__header{
        padding: 1rem 0.1rem;
    }
    & p{
        margin: 0;
        padding: 0;
        @include respond(lg){
          display: none;
        }
   }
   &__body{
        margin:0 !important;
        padding:0 !important;
        display: flex;
        justify-content: center;   
    }
   &__list{
        width: 100%;
        margin:0 !important;
        padding:0 !important;
    &__item{
        width: 100%;
        margin:0 !important;
        padding: 0 auto;
        display:flex;
        flex-direction:row;
        justify-content:left;
        align-items:center;
        align-self: flex-end;
        @include respond(lg){
          padding: 0.7rem;
          
        }
          &--right{
            width: 100%;
            margin:0 !important;
            padding: 0 auto;
            display:flex;
            flex-direction:row;
            justify-content:left;
            align-items:center;
            align-self: flex-end;
            @include respond(lg){
              padding: 0.5rem;
              flex-direction:column;
              justify-content:left;
              
            }
          }
       
        &--create{
            width: 100%;
            margin:0 !important;
            display:flex;
            flex-direction:row;
            justify-content:left;
            align-items:center;
            align-self: flex-end;
            position: relative;
          
          align-self: center;
         
            @include respond(lg){
             padding: 0.5rem;
            }
    
        }
      &__info{
        display:flex;
        width: 100%;
        margin-left: 1rem;
        align-self: center;
        flex-direction:column;
        justify-content:left;
        align-items:left;
        text-align:left;
        margin-top: 0.1rem;
        @include respond(lg){
          & p {
            display: none;
          }
        }
        & a{
          color: black;
          @include respond(lg){
            font-size: 1rem;
          }
        }

        @include respond(lg){
          align-self: center;
          justify-content:left;
        }
      }
      &__rightTop{
        width: 100%;
        margin:0 !important;
        padding: 0 0.5rem;
        display:flex;
        flex-direction:row;
        justify-content:left;
        align-items:center;
        
        &--row{
        padding: 0.4rem;
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:left;
        @include respond(lg){
        margin-left: -1.7rem;
          }
        }
      
        @include respond(lg){
          padding: 0.7rem;
            flex-direction:column;
        }
      }
        &__button{
        background-color:$color-secondary-blue;
        align-self: center;
        border: 1px solid $color-secondary-blue;
        box-shadow: 0 0 0.2rem $color-secondary-blue;
        border-radius:2rem;
        min-width: 5rem;
        padding: 0.3rem ;
        color:white;
      
        @include respond(lg){
        padding: 0.1rem ;
        align-self: flex-start;
        }
        }
     }
 }
     &__footer{
       background-color: $color-primary-green;
       text-align: center;
       & a{color: white;}
     }
   }
   }
  