@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@keyframes scaleUpAndDown {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.2); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Karla', Helvetica, Arial, sans-serif; }

html {
  scroll-behavior: smooth;
  min-height: 100%; }

::selection {
  color: #ffffff;
  background: #02bd63; }

body {
  height: 100vh; }

#root,
.App,
.Main {
  height: 100%; }

.heading-primary {
  color: #000000;
  font-size: 3rem;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 36em) {
    .heading-primary {
      font-size: 2.4rem; } }
  .heading-primary--white {
    color: #ffffff; }

.paragraph-primary {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem; }
  @media only screen and (max-width: 36em) {
    .paragraph-primary {
      font-size: 1.25rem; } }
  .paragraph-primary--white {
    color: rgba(255, 255, 255, 0.6); }

.section-about {
  padding: 4rem 3rem; }
  @media only screen and (max-width: 48em) {
    .section-about {
      padding: 3rem 1rem; } }
  .section-about__image {
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-about__image img {
      width: 100%; }
  .section-about__text {
    display: flex;
    height: calc(100vh - 4rem);
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 62em) {
      .section-about__text {
        height: 100%; } }
    @media only screen and (max-width: 48em) {
      .section-about__text {
        text-align: center; } }

.section-mission {
  padding: 6rem 3rem;
  background-color: rgba(126, 170, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch; }
  @media only screen and (max-width: 48em) {
    .section-mission {
      padding: 3rem 1rem; } }
  .section-mission__text {
    text-align: center;
    max-width: 764px;
    margin: 0 auto 2rem;
    width: 100%; }
  .section-mission__cards__col {
    margin-bottom: 2rem; }
  .section-mission__cards__item {
    background-color: #ffffff;
    margin: 0 2rem;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 2rem 1.5rem;
    text-align: center;
    float: left;
    height: 100%;
    transition: all 0.3s; }
    .section-mission__cards__item:hover {
      transform: translateY(-10px);
      box-shadow: 4px 4px 0 1px #02bd63; }
    @media only screen and (max-width: 48em) {
      .section-mission__cards__item {
        margin: 0 0.5rem; } }
    .section-mission__cards__item img {
      margin-bottom: 1.5rem;
      width: 7.25rem; }
    .section-mission__cards__item p {
      margin-bottom: 0; }

.section-features {
  padding: 6rem 2rem; }
  @media only screen and (max-width: 48em) {
    .section-features {
      padding: 3rem 1rem; } }
  .section-features__text {
    text-align: center;
    max-width: 764px;
    margin: 0 auto 2rem;
    width: 100%; }
    @media only screen and (max-width: 48em) {
      .section-features__text {
        margin-bottom: 2rem; } }
  .section-features__body__text {
    padding: 2rem;
    padding-bottom: 1rem;
    margin: 0 4rem;
    position: relative; }
    @media only screen and (max-width: 48em) {
      .section-features__body__text {
        margin: 0;
        padding-bottom: 1rem; } }
    .section-features__body__text--learning {
      text-align: right; }
    .section-features__body__text__image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      animation: scaleUpAndDown 2.5s linear infinite; }
      .section-features__body__text__image--learning {
        right: 0;
        left: initial; }
    .section-features__body__text__main {
      color: #000000;
      font-size: 1.25rem;
      font-weight: 500; }
    .section-features__body__text__sub {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 300; }
  .section-features__body__content {
    max-width: 992px;
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    @media only screen and (max-width: 36em) {
      .section-features__body__content {
        flex-direction: column;
        margin: 0 auto; } }
    .section-features__body__content__item {
      text-align: center;
      width: 200px;
      margin: auto; }
      .section-features__body__content__item img {
        margin-bottom: 1rem;
        transition: all 0.5s; }
        .section-features__body__content__item img:hover {
          transform: scale(1.15); }
      .section-features__body__content__item p {
        color: #000000; }
      @media only screen and (max-width: 48em) {
        .section-features__body__content__item {
          margin-bottom: 1.5rem; } }

.section-achievements {
  background-color: #001948;
  padding: 6rem 3rem; }
  @media only screen and (max-width: 48em) {
    .section-achievements {
      padding: 3rem 1rem; } }
  .section-achievements__text {
    text-align: center;
    max-width: 992px;
    margin: auto;
    margin-bottom: 6rem; }
    @media only screen and (max-width: 48em) {
      .section-achievements__text {
        width: 100%;
        margin-bottom: 4rem; } }
  .section-achievements__content {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 36em) {
      .section-achievements__content {
        flex-direction: column; } }
    .section-achievements__content__item {
      text-align: center;
      background-color: #ffffff;
      height: 150px;
      width: 150px;
      margin: auto;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.5s; }
      .section-achievements__content__item:hover {
        transform: scale(1.15); }
      @media only screen and (max-width: 48em) {
        .section-achievements__content__item {
          margin-bottom: 1.5rem; } }
      .section-achievements__content__item h1 {
        font-size: 2.25rem;
        color: #02bd63; }
      .section-achievements__content__item p {
        color: rgba(0, 0, 0, 0.6);
        margin: 0; }

.section-testimonials {
  padding: 6rem 3rem; }
  @media only screen and (max-width: 48em) {
    .section-testimonials {
      padding: 3rem 0.5rem; } }
  .section-testimonials__text {
    max-width: 764px;
    margin: 0 auto 4rem;
    width: 100%;
    text-align: center; }
  .section-testimonials__map {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-testimonials__map img {
      width: 100%; }

.section-contact {
  background-color: #001948;
  padding: 6rem 3rem; }
  @media only screen and (max-width: 48em) {
    .section-contact {
      padding: 3rem 1rem; } }
  .section-contact__text {
    text-align: center;
    max-width: 768px;
    margin: auto;
    margin-bottom: 3rem; }
  .section-contact__form {
    border: 1px inset rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 4rem;
    max-width: 568px;
    margin: auto; }
    @media only screen and (max-width: 48em) {
      .section-contact__form {
        padding: 4rem 2rem; } }
    .section-contact__form__label {
      display: block;
      color: #ffffff; }
    .section-contact__form__input {
      width: 100%;
      margin-bottom: 2rem;
      background-color: #001948;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      padding: 0.5rem;
      outline: none;
      color: #ffffff; }
    .section-contact__form__textarea {
      resize: none;
      width: 100%;
      margin-bottom: 3rem;
      background-color: #001948;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      color: #ffffff;
      outline: none;
      padding: 0.5rem;
      height: 6rem; }
    .section-contact__form__button {
      text-align: center;
      width: 100%;
      height: 100%; }
      .section-contact__form__button__item {
        background-color: #02bd63;
        color: #ffffff;
        padding: 1rem 2rem;
        border-radius: 2px;
        width: 10rem; }
        .section-contact__form__button__item:hover {
          color: white; }
        .section-contact__form__button__item:active {
          transform: scale(0.9); }

.section-footer {
  background-color: #f9f5f5;
  text-align: center;
  padding: 1rem; }
  .section-footer p {
    font-size: 20px;
    color: #001948;
    margin: 0; }

.navigation-bar {
  position: fixed;
  width: 100%;
  z-index: 1000; }
  .navigation-bar__logo {
    margin-right: 5rem; }

.navbar {
  background-color: #ffffff !important; }

.nav-item.active {
  border-bottom: 2px solid rgba(2, 189, 99, 0.6); }
  .nav-item.active .nav-link {
    color: #000000; }

.nav-item:not(:last-child) {
  margin-right: 1rem; }

.navbar-brand img {
  margin-right: 1rem; }

.button--green:hover {
  box-shadow: 0 2px 4px #012b16;
  cursor: pointer; }

.button--green:active {
  transform: scale(0.99);
  box-shadow: 0 0.5px 1px #012b16; }

.button--green--round {
  border-radius: 10px !important;
  background-color: black;
  padding: 2.5% !important;
  width: 100%;
  background: #02bd63;
  position: absolute;
  border: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500; }

.input-component {
  display: block;
  padding: 0.35rem;
  padding-left: 5%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 8px; }
  .input-component:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.24);
    background-color: #f0f0f0; }
  .input-component::placeholder {
    font-size: 13px; }

.landing-page__hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 25, 72, 0.72), rgba(0, 25, 72, 0.72)), url("images/landing-section-1/hero-bg.png");
  background-position: center;
  background-size: cover; }
  .landing-page__hero__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    max-width: 1076px;
    width: 100%;
    padding: 1rem; }
    .landing-page__hero__text-box__main {
      text-transform: uppercase;
      color: rgba(2, 189, 99, 0.6);
      font-size: 1.5rem;
      font-weight: 500; }
    .landing-page__hero__text-box__sub {
      color: #ffffff;
      font-size: 2.75rem; }
    .landing-page__hero__text-box__button {
      margin-top: 2rem; }
      .landing-page__hero__text-box__button__item {
        text-align: center;
        border: 1px solid #02bd63;
        background-color: rgba(2, 189, 99, 0.6);
        color: #ffffff;
        padding: 0.5rem 2rem;
        border-radius: 8px;
        font-size: 1.2rem;
        width: 10rem; }
        .landing-page__hero__text-box__button__item--login {
          padding: 0.5rem 2.5rem; }
        .landing-page__hero__text-box__button__item:hover {
          background-color: #02bd63;
          color: #ffffff;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        .landing-page__hero__text-box__button__item:first-child {
          margin-right: 2rem; }
  .landing-page__hero__down-arrows {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); }

.signup {
  display: grid;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 25, 72, 0.84), rgba(0, 25, 72, 0.84)), url("./assets/sign-up/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .signup__flex-container {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .signup__flex-child {
    display: flex;
    align-items: center; }
  .signup__logo {
    height: 3.75rem; }
  .signup__card {
    width: calc(100vh - 45vh);
    height: initial;
    border-radius: 8px;
    padding: 2vh 2%;
    background-color: #ffffff;
    overflow: hidden; }
    .signup__card--header {
      position: relative;
      font-size: calc(100vh - 95.5vh);
      top: 3%;
      font-style: normal;
      font-weight: 600;
      text-align: left;
      padding: 0 30px;
      color: #001948; }
    .signup__card--desc {
      position: relative;
      font-size: calc(100vh - 97.2vh);
      top: 2%;
      padding: 0 30px;
      font-style: normal;
      font-family: "Nunito", sans-serif;
      font-weight: normal; }
      .signup__card--desc a {
        color: #02bd63;
        text-decoration: none;
        padding: 0 10px; }
      @media only screen and (max-height: 640px) {
        .signup__card--desc {
          font-size: 90%; } }
    .signup__card--form {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5% calc(100vh - 180%);
      padding-bottom: 0; }
    .signup__card div label {
      padding: 1vh 5%;
      font-size: 12px;
      font-weight: 300; }
    .signup__card--button {
      margin-top: 5%;
      color: #ffffff;
      position: relative; }
    .signup__card form hr {
      position: relative;
      top: 0.5rem; }
    .signup__card--or {
      margin: auto;
      width: fit-content;
      position: relative;
      bottom: 1.5rem;
      text-align: center;
      font-size: 13px;
      background-color: #ffffff;
      padding: 5px; }
  .signup__social {
    position: relative;
    top: -1.5rem;
    display: flex;
    justify-content: center; }
    .signup__social--links {
      padding: 0 10px;
      transition: all 0.2s;
      height: calc(100vh - 95vh); }
  @media only screen and (max-width: 62em) {
    .signup__card {
      width: calc(100vh - 45vh);
      height: initial;
      margin-bottom: 0; }
      .signup__card--header {
        top: 0.5rem;
        font-size: 190%; }
      .signup__card--desc {
        top: 0.2rem;
        font-size: 110%; }
      .signup__card--form {
        padding: 0 8%; } }
  @media only screen and (max-width: 48em) {
    .signup__flex-container {
      justify-content: center;
      flex-direction: column; }
    .signup__logo {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .signup__card {
      height: initial;
      width: 100%;
      margin: 0 5%;
      padding-bottom: 0; } }
  @media only screen and (max-width: 36em) {
    .signup__logo {
      height: 50px;
      margin: 5%; }
    .signup__card {
      margin-top: 5%; }
      .signup__card--header {
        font-size: 150%; }
      .signup__card--desc {
        font-size: 95%; }
      .signup__card--form {
        padding: 0 5%;
        padding-top: 3%; }
        .signup__card--form input {
          padding: 1% 1rem; }
      .signup__card--button {
        padding: 1.5% !important; }
    .signup__social--links {
      height: calc(100vh - 96vh); } }

.signin {
  display: grid;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 25, 72, 0.84), rgba(0, 25, 72, 0.84)), url("./assets/sign-up/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .signin__flex-container {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .signin__flex-child {
    display: flex;
    align-items: center; }
  .signin__logo {
    height: 3.75rem; }
  .signin__card {
    width: calc(100vh - 50vh);
    height: initial;
    border-radius: 8px;
    padding: 5%;
    background-color: #ffffff;
    overflow: hidden; }
    .signin__card--header {
      position: relative;
      font-size: calc(100vh - 95vh);
      top: 3%;
      font-style: normal;
      font-weight: 600;
      text-align: left;
      padding: 0 30px;
      color: #001948; }
    .signin__card--desc {
      position: relative;
      font-size: calc(100vh - 97.5vh);
      top: 2%;
      padding: 0 30px;
      font-style: normal;
      font-family: "Nunito", sans-serif;
      font-weight: normal; }
    .signin__card a {
      color: #02bd63;
      text-decoration: none;
      padding: 0 10px; }
    .signin__card--form {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5% calc(100vh - 215%);
      padding-bottom: 0; }
    .signin__card div label {
      padding: 1vh 5%;
      font-size: 12px;
      font-weight: 300; }
    .signin__card--button {
      margin-top: 5%;
      color: #ffffff;
      position: relative; }
    .signin__card form hr {
      position: relative;
      top: 0.5rem; }
    .signin__card__forgot-pw-div {
      margin-top: 3%;
      text-align: end; }
    .signin__card--or {
      margin: auto;
      width: fit-content;
      position: relative;
      bottom: 1.5rem;
      text-align: center;
      font-size: 13px;
      background-color: #ffffff;
      padding: 5px; }
  .signin__social {
    margin-top: 5%;
    position: relative;
    top: -1.5rem;
    display: flex;
    justify-content: center; }
    .signin__social--links {
      padding: 0 10px;
      transition: all 0.2s;
      height: calc(100vh - 95vh); }
  @media only screen and (max-width: 62em) {
    .signin__card {
      width: 22rem;
      height: initial; }
      .signin__card--header {
        top: 0.5rem;
        font-size: 190%; }
      .signin__card--desc {
        top: 0.2rem;
        font-size: 110%; }
      .signin__card--form {
        padding: 0 8%; } }
  @media only screen and (max-width: 48em) {
    .signin__flex-container {
      flex-direction: column;
      justify-content: center; }
    .signin__logo {
      margin-top: 0rem;
      margin-bottom: 1rem; }
    .signin__card {
      height: initial; } }
  @media only screen and (max-width: 400px) {
    .signin__logo {
      height: 3rem; }
    .signin__card {
      width: 100%; } }
