@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Karla', Helvetica, Arial, sans-serif; }

::selection {
  color: #ffffff;
  background: #02bd63; }

.heading-primary {
  color: #000000;
  font-size: 3rem;
  margin-bottom: 1.5rem; }
  .heading-primary--white {
    color: #ffffff; }

.paragraph-primary {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem; }
  .paragraph-primary--white {
    color: rgba(255, 255, 255, 0.6); }

.section-about {
  height: 100vh;
  padding: 6rem 3rem; }
  @media only screen and (max-width: 48em) {
    .section-about {
      padding: 6rem 1rem; } }
  @media only screen and (max-width: 75em) {
    .section-about {
      height: initial; } }
  .section-about__image {
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-about__image img {
      width: 100%; }
  .section-about__text {
    display: flex;
    height: calc(100vh - 4rem);
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 62em) {
      .section-about__text {
        height: 100%; } }
    @media only screen and (max-width: 48em) {
      .section-about__text {
        text-align: center; } }

.section-mission {
  padding: 6rem 3rem;
  background-color: rgba(126, 170, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch; }
  .section-mission__text {
    text-align: center;
    max-width: 764px;
    margin: 0 auto 2rem;
    width: 100%; }
  .section-mission__cards__col {
    margin-bottom: 2rem; }
  .section-mission__cards__item {
    background-color: #ffffff;
    margin: 0 2rem;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 2rem 1.5rem;
    text-align: center;
    float: left;
    height: 100%; }
    .section-mission__cards__item img {
      margin-bottom: 1.5rem;
      width: 7.25rem; }
    .section-mission__cards__item p {
      margin-bottom: 0; }

.section-features {
  padding: 6rem 2rem; }
  .section-features__text {
    text-align: center;
    margin-bottom: 4rem; }
  .section-features__body__text {
    padding: 2rem;
    margin: 0 4rem;
    position: relative; }
    @media only screen and (max-width: 48em) {
      .section-features__body__text {
        margin: 0; } }
    .section-features__body__text--learning {
      text-align: right; }
    .section-features__body__text__image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
      .section-features__body__text__image--learning {
        right: 0;
        left: initial; }
    .section-features__body__text__main {
      color: #000000;
      font-size: 1.25rem;
      font-weight: 500; }
    .section-features__body__text__sub {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 300; }
  .section-features__body__content {
    max-width: 992px;
    width: 100%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    @media only screen and (max-width: 36em) {
      .section-features__body__content {
        flex-direction: column;
        margin: 2rem auto; } }
    .section-features__body__content__item {
      text-align: center;
      width: 200px;
      margin: auto; }
      .section-features__body__content__item img {
        margin-bottom: 1rem; }
      .section-features__body__content__item p {
        color: #000000; }
      @media only screen and (max-width: 48em) {
        .section-features__body__content__item {
          margin-bottom: 1.5rem; } }

.section-achievements {
  background-color: #001948;
  padding: 6rem 3rem; }
  @media only screen and (max-width: 48em) {
    .section-achievements {
      padding: 6rem 1rem; } }
  .section-achievements__text {
    text-align: center;
    max-width: 992px;
    margin: auto;
    margin-bottom: 6rem; }
    @media only screen and (max-width: 48em) {
      .section-achievements__text {
        width: 100%;
        margin-bottom: 4rem; } }
  .section-achievements__content {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 36em) {
      .section-achievements__content {
        flex-direction: column; } }
    .section-achievements__content__item {
      text-align: center;
      background-color: #ffffff;
      height: 150px;
      width: 150px;
      margin: auto;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 48em) {
        .section-achievements__content__item {
          margin-bottom: 1.5rem; } }
      .section-achievements__content__item h1 {
        font-size: 2.25rem;
        color: #02bd63; }
      .section-achievements__content__item p {
        color: rgba(0, 0, 0, 0.6);
        margin: 0; }

.section-testimonials {
  padding: 6rem 3rem; }
  @media only screen and (max-width: 48em) {
    .section-testimonials {
      padding: 6rem 0.5rem; } }
  .section-testimonials__text {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem; }
  .section-testimonials__map {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-testimonials__map img {
      width: 100%; }

.section-contact {
  background-color: #001948;
  padding: 6rem 3rem; }
  @media only screen and (max-width: 48em) {
    .section-contact {
      padding: 6rem 1rem; } }
  .section-contact__text {
    text-align: center;
    max-width: 768px;
    margin: auto;
    margin-bottom: 3rem; }
  .section-contact__form {
    border: 1px inset rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    padding: 4rem;
    max-width: 568px;
    margin: auto; }
    @media only screen and (max-width: 48em) {
      .section-contact__form {
        padding: 4rem 2rem; } }
    .section-contact__form__label {
      display: block;
      color: #ffffff; }
    .section-contact__form__input {
      width: 100%;
      margin-bottom: 2rem;
      background-color: #001948;
      border: 1px solid rgba(255, 255, 255, 0.08);
      border-radius: 5px;
      padding: 0.5rem;
      outline: none;
      color: #ffffff; }
    .section-contact__form__textarea {
      resize: none;
      width: 100%;
      margin-bottom: 3rem;
      background-color: #001948;
      border: 1px solid rgba(255, 255, 255, 0.08);
      border-radius: 5px;
      color: #ffffff;
      outline: none;
      padding: 0.5rem;
      height: 6rem; }
    .section-contact__form__button {
      text-align: center; }
      .section-contact__form__button__item {
        background-color: #02bd63;
        color: #ffffff;
        padding: 1rem 2rem;
        border-radius: 2px; }
        .section-contact__form__button__item:hover {
          color: white; }
        .section-contact__form__button__item:active {
          transform: scale(0.9); }

.section-footer {
  background-color: #f9f5f5;
  text-align: center;
  padding: 1rem; }
  .section-footer p {
    font-size: 20px;
    color: #001948;
    margin: 0; }

.landing-page__hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 25, 72, 0.72), rgba(0, 25, 72, 0.72)), url("images/landing-section-1/hero-bg.png");
  background-position: center;
  background-size: cover; }
  .landing-page__hero__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    max-width: 1076px;
    width: 100%;
    padding: 1rem; }
    .landing-page__hero__text-box__main {
      text-transform: uppercase;
      color: rgba(2, 189, 99, 0.6);
      font-size: 1.5rem;
      font-weight: 500; }
    .landing-page__hero__text-box__sub {
      color: #ffffff;
      font-size: 2.75rem; }
  .landing-page__hero__down-arrows {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); }
body,
html {
  height: 100%;
  margin: 0; }

#root,
.App,
.Main {
  height: 100%; }

.button--green:hover {
  box-shadow: 0 2px 4px #012b16;
  cursor: pointer; }

.button--green:active {
  transform: scale(0.99);
  box-shadow: 0 0.5px 1px #012b16; }

.button--green--round {
  border-radius: 10px !important;
  background-color: black;
  padding: 5px !important;
  background: #02bd63;
  position: absolute;
  width: 23.75rem;
  height: 3rem;
  border: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em; }

.input-component {
  display: block;
  padding: 0.625rem;
  margin: 0.75rem 0.625rem;
  min-height: 1.875rem;
  width: 92%;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 8px; }
  .input-component:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.24);
    background-color: #f0f0f0; }
  .input-component::placeholder {
    font-size: 13px; }

.signup {
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 25, 72, 0.84), rgba(0, 25, 72, 0.84)), url("./assets/sign-up/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4% 0; }
  .signup__flex-container {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .signup__flex-child {
    display: flex;
    align-items: center; }
  .signup__logo {
    height: 3.75rem; }
  .signup__card {
    width: 26.25rem;
    height: 41.875rem;
    border-radius: 8px;
    padding: 0rem 1.25rem;
    background-color: white; }
    .signup__card hr {
      position: relative;
      top: 3rem; }
    .signup__card--or {
      position: relative;
      top: 1.2rem;
      font-size: 13px;
      left: 10.813rem;
      background-color: white;
      padding: 5px; }
    .signup__card--button {
      color: white;
      position: relative;
      bottom: -1.563rem; }
    .signup__card--header {
      position: relative;
      top: 20px;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 60px;
      text-align: left;
      padding: 0px 30px;
      color: #001948; }
    .signup__card--desc {
      padding: 20px 30px;
      font-style: normal;
      font-family: "Nunito", sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      padding-bottom: 20px; }
      .signup__card--desc a {
        color: #02bd63;
        text-decoration: none;
        padding: 10px; }
    .signup__card div label {
      padding-left: 20px;
      font-size: 12px;
      font-weight: 300;
      line-height: 10px;
      text-align: left; }
    .signup__card div input {
      margin: 7px 10px; }
    .signup__card--input-name {
      display: inline-block;
      margin-right: 0.938rem; }
      .signup__card--input-name input.input-component {
        max-width: 9.688rem !important; }
  .signup__social {
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: center; }
    .signup__social--links {
      padding: 10px;
      transition: all 0.2s;
      height: 50px; }
  @media screen and (max-width: 1000px) {
    .signup__flex-container {
      flex-direction: column; }
    .signup__logo {
      margin-top: 1rem;
      margin-bottom: 1.875rem; }
    .signup__card {
      width: 100%;
      height: 39rem;
      padding: 0rem 1.25rem; }
      .signup__card hr {
        top: 2rem; }
      .signup__card--or {
        top: 0.2rem;
        padding: 0px; }
      .signup__card--button {
        bottom: -1rem;
        width: 20.938rem;
        left: 0.625rem; }
      .signup__card--header {
        position: relative;
        font-size: 1.875rem; }
      .signup__card--desc {
        padding: 10px 30px;
        padding-bottom: 1.25rem; }
      .signup__card div label {
        line-height: 8px; }
      .signup__card--input-name input.input-component {
        max-width: 9.063rem !important; }
    .signup__social {
      position: relative;
      top: -0.5rem; }
      .signup__social--links {
        padding: 10px; } }
  @media screen and (max-width: 450px) {
    .signup__card {
      margin: 0 5%;
      padding-left: 6%; }
      .signup__card--or {
        left: 47%; }
      .signup__card--button {
        width: 92%; }
      .signup__card--header {
        font-size: 1.3rem; }
      .signup__card--desc {
        font-size: 1rem;
        padding: 10px;
        padding-bottom: 5%; }
      .signup__card--input-name {
        margin-right: 0%;
        width: 50%; }
        .signup__card--input-name input.input-component {
          max-width: 80% !important; }
        .signup__card--input-name .input-component {
          width: 90%; }
    .signup__social {
      position: relative; }
      .signup__social--links {
        padding: 10px; } }

.signin {
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 25, 72, 0.84), rgba(0, 25, 72, 0.84)), url("./assets/sign-up/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 0; }
  .signin__flex-container {
    z-index: 1;
    padding: 3.125rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .signin__flex-child {
    display: flex;
    align-items: center; }
  .signin__logo {
    height: 3.75rem; }
  .signin__card {
    width: 26.25rem;
    height: 34.375rem;
    border-radius: 8px;
    padding: 0rem 1.25rem;
    background-color: white; }
    .signin__card hr {
      position: relative;
      top: 2.8rem; }
    .signin__card--or {
      position: relative;
      top: 1rem;
      font-size: 14px;
      left: 10.813rem;
      background-color: white;
      padding: 5px; }
    .signin__card--button {
      color: white;
      position: relative;
      bottom: -3rem; }
    .signin__card--header {
      position: relative;
      top: 20px;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 60px;
      text-align: left;
      padding: 0px 30px;
      color: #001948; }
    .signin__card--desc {
      padding: 20px 30px;
      font-style: normal;
      font-family: "Nunito", sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      padding-bottom: 20px; }
    .signin__card__forgot-pw {
      position: relative;
      line-height: 1.25rem;
      font-size: 15px;
      width: 100%;
      right: -13.75rem;
      margin-bottom: 10px;
      bottom: 2.5rem; }
    .signin__card a {
      color: #02bd63;
      text-decoration: none;
      padding: 10px; }
    .signin__card div label {
      padding-left: 20px;
      font-size: 12px;
      font-weight: 300;
      line-height: 15px;
      text-align: left; }
    .signin__card--input-name {
      display: inline-block;
      margin-right: 0.938rem; }
      .signin__card--input-name input.input-component {
        max-width: 9.688rem !important; }
  .signin__social {
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: center; }
    .signin__social--links {
      padding: 10px;
      transition: all 0.2s;
      height: 50px; }

@media screen and (max-width: 1000px) {
  .signin {
    padding: 0; }
    .signin__flex-container {
      flex-direction: column; }
    .signin__card {
      width: 100%; }
      .signin__card--button {
        width: 100%; }
      .signin__card--or {
        margin-left: -2rem; }
      .signin__card__forgot-pw {
        right: -10rem; }
    .signin__logo {
      margin-bottom: 2rem; } }
