*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Karla', Helvetica, Arial, sans-serif; }

.heading-primary {
  color: #000000;
  font-size: 3rem;
  margin-bottom: 1.5rem; }

.paragraph-primary {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem; }

.section-about {
  height: 100vh;
  padding: 2rem; }
  @media only screen and (max-width: 75em) {
    .section-about {
      height: initial; } }
  .section-about__image {
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-about__image img {
      width: 100%; }
  .section-about__text {
    display: flex;
    height: calc(100vh - 4rem);
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 62em) {
      .section-about__text {
        height: 100%; } }

.section-mission {
  padding: 3rem;
  background-color: rgba(126, 170, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch; }
  .section-mission__text {
    text-align: center;
    max-width: 764px;
    margin: 0 auto 2rem;
    width: 100%; }
  .section-mission__cards__col {
    margin-bottom: 2rem; }
  .section-mission__cards__item {
    background-color: #ffffff;
    margin: 0 2rem;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 2rem 1.5rem;
    text-align: center;
    float: left;
    height: 100%; }
    .section-mission__cards__item img {
      margin-bottom: 1.5rem;
      width: 7.25rem; }
    .section-mission__cards__item p {
      margin-bottom: 0; }

.landing-page__hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 25, 72, 0.72), rgba(0, 25, 72, 0.72)), url("images/landing-section-1/hero-bg.png");
  background-position: center;
  background-size: cover; }
  .landing-page__hero__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    max-width: 1076px;
    width: 100%; }
    .landing-page__hero__text-box__main {
      text-transform: uppercase;
      color: rgba(2, 189, 99, 0.6);
      font-size: 1.5rem;
      font-weight: 500; }
    .landing-page__hero__text-box__sub {
      color: #ffffff;
      font-size: 2.75rem; }
  .landing-page__hero__down-arrows {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); }
