$primary-background: #ffffff;

.filter-dropdown{
    width: 40%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    &-title{
        margin: 0 auto;
    }
    &-content{
        background-color: $primary-background;
        padding: 1rem;
        border-radius: 10px;
    }
    &-parameter{
        border-bottom: 1px solid gray;
        padding: 10px 0;
    }
    &-roles{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        label{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    @include respond(md){
        display: none;
    }
}