$primary-background: #ffffff;

.filter-dropdown{
    width: 20%;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgb(179, 179, 179);
    transform: translateX(-20%);
    overflow: hidden;
    z-index:10000000;
    &-title{
        margin: 0 auto;
    }
    &-content{
        background-color: $primary-background;
        padding: 1rem;
        @include respond(sm){
            padding: 5px;
            border-radius: 0;
            border: 0;
        }
    }
    &-parameter{
        border-bottom: 1px solid gray;
        padding: 10px 0;
    }
    &-roles{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        label{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    @include respond(sm){
        padding: 0;
        transform: translateX(-20%);
    }
    @include respond(xs){
        font-size: smaller;
        width: 150px;

    }
}