$primary-background: #ffffff;
$connect-btn-color: #5579BD;

.people-you-may-know{
    width: 100%;
    height: auto;
    padding: 1rem 1rem;
    border-radius: 20px;
    background-color: $primary-background;
    &-title{
        font-size: large;
        font-weight: 500;
        padding: 20px;
        @include respond(sm){
            padding: 0px;
        }
    }
    &-profiles{
        display: flex;
        flex-wrap: wrap;
        height: 400px;
        overflow-y: scroll;
    }   
    @include respond(sm){
        border-radius: 0;
    }
    @include respond(xs){

    }
}

.people-profile-card{
    width: 20%;
    margin: 10px;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1rem;
    &-img-container{
        margin: 0 auto;
        img{
            width: 60px;
            border-radius: 30px;
        }
    }
    &-data{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-name{
        font-size: 15px;
        font-weight: 400;
    }
    &-designation{
        font-size: 12px;
    }
    &-mutual-connections{
        font-size: 10px;
        color: grey;
        font-style: italic;
    }
    button{
        width: 6rem;
        border: none;
        border-radius: 1rem;
        background-color: $connect-btn-color;
        color: $primary-background;
        @include respond(xs){
            width: 120%;
            font-size: small;
        }
    }
    @include respond(sm){
        width: 30%;
        margin: 5px;
        text-align: center;
    }
}

.line-separation{
    display: flex;
    width: 100%;
    justify-content: space-between;
    &-filter-parameters{
        background-color: $primary-background;
        text-align: left;
        display: flex;
        padding: 10px;
        flex-direction: column;
        z-index: 10;
        position: absolute;
        border: 1px solid gray;
        border-radius: 5px;
        label{
            border-bottom: 0.5px solid rgb(218, 218, 218);
            padding: 5px;
            @include respond(sm){
                font-size: 10px;
            }
        }
    }
    &-line{
        width: 80%;
        text-align: "left";
        margin-left: "0px";
        @include respond(md){
            width: 70%;
        }
        @include respond(sm){
            width: 60%;
        }
    }
}