$primary-background: #ffffff;
$accept-btn: #02bd63;

.right-network-stats {
    padding: 2rem;
    background-color: $primary-background;
    border-radius: 10px;
    @include respond(md) {
        width: 100%;
    }
    &--img-name{
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            @include respond(xs) {
                display: none;
            }
        }
    }
    &--img-container{
        width: 6rem;
        height: 6rem;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 20px;
        img{
            width:100%;
            height: 100%;
            object-fit: cover;
            @include respond(xs){
                display: none;
            }
        }
    }
    &--content {
        // display: flex;
        // flex-direction: row;
        // gap: 10px;
        // padding: 10px;

        &-title {
            width: 50%;
        }
        p {
            display: flex;
            row-gap: 10px;
            flex-direction: row;
            justify-content: space-between;
            span {
                padding: 0px 10px;
            }
            @include respond(sm) {
                line-height: 0.8;
            }
        }
    }
}

.requests-connections {
    // width: auto;
    // height: auto;
    padding: 1rem 2rem;
    // margin: 2rem 2rem;
    border-radius: 20px;
    background-color: $primary-background;
    width: 100%;
    @include respond(sm) {
        margin: 0;
        width: 100%;
        border-radius: 0px;
    }
    @include respond(xs) {
        padding: 0;
    }
    &-profiles {
        overflow-y: scroll;
        height: 400px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    &-btn {
        button {
            background-color: $primary-background;
            border: none;
            text-align: center;
            width: 50%;
            padding: 10px;
        }
    }
}

.my-requests-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #c4c4c4;
    margin: 1rem 3rem;
    &-img {
        border-radius: 50%;
        overflow: hidden;
        margin: 0px 5px;
        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            @include respond(sm) {
                width: 50px;
                height: 50px;
                object-fit: cover;
            }
        }
    }
    &-data {
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        span {
            padding: 1px;
            line-height: 0.9;
        }
    }
    &-name {
        font-weight: bold;
        font-size: large;
    }
    &-time {
        font-size: smaller;
        font-style: italic;
        color: grey;
    }
    &-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button {
            width: 6rem;
            height: 2rem;
            border-radius: 2.5rem;
            margin: 20px;
            border: none;
        }
        @include respond(xs) {
            flex-direction: column;
            justify-content: space-evenly;
            button {
                height: 1.5rem;
            }
        }
    }
    &-accept-btn {
        background-color: $accept-btn;
    }
    @include respond(sm) {
        margin: 0;
        justify-content: space-around;
    }
}

.my-connection-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #c4c4c4;
    margin: 0 3rem;
    &-img {
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            margin: 15px;
            @include respond(sm) {
                width: 50px;
                height: 50px;
            }
        }
    }
    &-data {
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        span {
            padding: 1px;
            line-height: 0.9;
        }
    }
    &-name {
        font-weight: bold;
        font-size: large;
    }
    &-time {
        font-size: smaller;
        color: grey;
    }
    &-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button {
            min-width: 6rem;
            height: 2rem;
            border-radius: 2.5rem;
            margin: 20px;
            border: none;
        }
        @include respond(xs) {
            flex-direction: column;
            justify-content: space-evenly;
            button {
                height: 1.5rem;
            }
        }
    }
    &-msg-btn {
        background-color: $primary-background;
        width: fit-content;
    }
    @include respond(sm) {
        margin: 0;
        justify-content: space-around;
    }
}

body {
    background-color: $color-light-bg;
}
